VITE_SUPABASE_URL="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx0aWRtbXZ1ZGFuY3ducnhnbHVkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE5NDM1MjksImV4cCI6MjA5NzUxOTUyOX0.qjO_XvhaeVx4WKWf47wfeh7EhCovmHvGbTnplNHxAOo"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx0aWRtbXZ1ZGFuY3ducnhnbHVkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTk0MzUyOSwiZXhwIjoyMDk3NTE5NTI5fQ.M-JLdLcT4VzGswIzhJFyvgmgNPsxEj_6vZ9VR4jLuVk"
