/* Custom properties/variables */
:root {
  --main-white: #f0f0f0;
  --main-blue: #20234A;
  --main-blue-2: #45567d;
  --main-gray: #303841;
  --main-gold: #DAA569;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (max-width: 28.75em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

/* Base styles */
body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-white);
}

h1, h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 4rem;
  padding: 1rem;
}

h2 {
  font-size: 3rem;
  padding: 0.5rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-white);
}

img {
  display: block;
  width: 100%;
}

/* nav */
.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  background: var(--main-blue-2);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
  width: 100%;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
}

.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 1rem 1rem;
}

.nav-list a:hover {
  background: var(--main-blue);
}

/* Welcome section */
.welcome-section, .container, #header_1, #firstName, #lastName {
  font-family: 'Inter';
}

.welcome-section {
  display: flex;
  background-color: var(--main-blue);
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
}

#header_1 {
  font-size: 128px;
  color: var(--main-gold);
}

#firstName {
  font-size: 48px;
  color: var(--main-gold);
}

#lastName {
  font-size: 32px;
  color: var(--main-gold);
}

/* Projects section */
.projects-section, .projects-section-header, .projects-grid, .project, .code, .project-image, .project-title, .btn, .btn-show-all {
  background: var(--main-blue-2);
}

.projects-section {
  text-align: center;
  width: 100%;
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 3rem auto;
  border-bottom: 0.2rem solid var(--main-white);
  font-size: 2.8rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.project {
  background: var(--main-gray);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.code {
  color: var(--main-gray);
}

.project:hover .code {
  color: #ff7f50;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.btn-show-all {
  font-size: 2rem;
  background: var(--main-gray);
}

.btn-show-all:hover {
  background: var(--main-red);
}

.btn-show-all:hover > i {
  transform: translateX(2px);
}

.btn-show-all > i {
  margin-left: 10px;
  transform: translateX(0);
}

/* Contact section */
.contact-section, .contact-section-header > h2, .contact-section-header > p, .contact-links, .contact-details {
  background: var(--main-gray);
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 2rem;
}

.contact-section-header > h2 {
  font-size: 6rem;
}

.contact-section-header > p {
  font-style: italic;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
}

.contact-details:hover {
  transform: translateY(8px);
}

/* Footer */
footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: var(--main-gray);
  border-top: 4px solid var(--main-red);
  text-align: center;
}
