body {
    background-color: #333;
    color: #fff;
  }
  
  h1 {
    text-align: center;
    font-size: 48px;
    margin-top: 50px;
  }
  
  table {
    margin: auto;
    border-collapse: collapse;
    border: 2px solid #fff;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.2);
  }
  
  td {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  input[type="text"] {
    width: 100%;
    height: 80px;
    font-size: 36px;
    border: none;
    background-color: #444;
    color: #fff;
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    height: 60px;
    font-size: 28px;
    border: none;
    background-color: #555;
    color: #fff;
    cursor: pointer;
  }
  button[name="rev"] {
    background-color: rgb(255, 95, 95);
    color: white;
  }
  
  button[value="="] {
    background-color: rgb(85, 85, 255);
    color: white;
  }
  
  
  button:hover {
    background-color: #666;
  }
  /* Define the fade-in animation */
@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Apply the animation to the calculator */
  #calculator_title,
  table {
    animation-name: fade-in;
    animation-duration: 3s;
    animation-delay: 0.5s;
  }
  /* Define the hover animation */
button:hover {
    animation-name: button-zoom;
    animation-duration: 0.4s;
  }
  
  /* Define the button-zoom animation */
  @keyframes button-zoom {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  .footer {
    background-color: #333;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    animation-name: fade-in;
    animation-duration: 1s;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  