* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body{
    background-color: #ffffff;
}
header{
    font-style:unset
}
img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
  } 
p , a{
  color: rgb(0, 0, 0);
}
a:hover{
  color: rgb(179, 179, 179);
}
.image{
    max-width: 50%;
    display: block;
    height: auto;
    margin: 0 auto;
} 

.title{
    max-width: 100%;
    margin: 30px;
    display: block;
    font-size: 100px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
}

.tribute-info{
    max-width: 100%;
    display: block;
    font-size: 25px;
    margin: 30px;
    padding: 30px;
    text-align: center;
}
.tribute-info-title{
    max-width: 100%;
    display: block;
    font-size: 40px;
    color: black;
    text-align: center;
}

.footer-contaner{
  background-color: #c0c0c0;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.footer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 50%;
  height: 22vh;
}

.footer-heading{
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}
.footer-heading h2{
  margin-bottom: 2rem;
}
.footer-heading a{
  color: #000000;
}
.footer-heading a:hover {
  color: #ffffff;
  transition: 0.3s ease-out;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@media only screen and (max-width: 600px) {
  .title{
    font-size: 50px;
  }
  p{
    font-size: 18px;
  }
  h1{
    font-size: 40px;
  }
  .fo
  .footer-contaner h2{
    font-size: 20px;
  }
  .footer-contaner a{
    font-size: 10px;
  }
}








@media only screen and (max-width: 600px) {
  /* For mobile phones: */
 .tribute-info{
  max-width: 100%;
  display: block;
  font-size: 12px;
  margin: 5px;
  padding: 10px;
  text-align: center;
 }
 .footer{
  margin: 5px;
  padding: 10px; 
  width: 100%;
  height: 22vh;
}
.footer-heading{
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}
}